body{
    background-color: #f5f5f5f5;
    margin: 0;
    padding: 0;
}
nav{
  position: fixed;  
}

#proLink, nav, ul, a{
    font-family: 'Khula', sans-serif !important;
}
.nav-wrapper{
    background: #3f51b5;
    position: fixed;
}

.waves-effect{
    background:#ff4081 !important;
}

.brand-logo{
    color: White !important;
    font-family: 'Khula', sans-serif !important;
}

.waves-effect{
    background: #2196f3;
}

 h3{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-family: 'Quicksand', sans-serif;

}

h6{
    font-size: 0.750em !important;
}

#text, p{
    font-size: 0.938em;
}

.box{
    padding-top:60px;
    height: 500px;
    text-align: center;
}

#textarea{
    width:100%;
   margin-top: 8%;
}

#post{
    float: right !important;
    z-index : 0;
}

#comment{
    width: 100%;
}

.card-panel{
    margin-top:5px !important;
    margin-bottom: 1px !important;
}

#edit, i{
    font-size: 18px !important;
    cursor: pointer;
    margin-right: 22px;
}

/*MEDIA QUERIES*/


@media screen and (max-width:764px){
    #textarea{
       margin-top: 10%;
    }
}

@media screen and (max-width:480px){
   
}

@media screen and (max-width:320px){
   
}




