body{
    /*background-image:url(books.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;*/
    
    /*background-color: #42a5f5;*/
    background: white;
    border:none;
    margin: 0px;
    padding: 0px;
   
}

.nav-wrapper{
    background: #880E4F;
}


#form{
    margin: 0 auto;
}


.sign, h2{
    font-family: 'Khula', sans-serif;
    opacity:0.7;
    font-size: 30px;
}

h3, a{
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    font-size: 14px;
    opacity:0.9;
    margin: 0;
    color: black;
    text-decoration: none;
}


#login{
    background: #fff;
    opacity: .9;
    padding: 2em 2em 2em;
    width: 30%;
    margin: 30px auto 0;
    box-shadow: 0 0 10px #222;
    border-radius: 3px;   
}

p{
    
    margin: 0 100 80px 0;
    position: relative;
}



input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

input[type="text"],
input[type="password"]{
    background: #f9f9f9;
    border:1px solid #e5e5e5;
    font-size: 18px;
    padding: 5px;
    border-radius: 0.1px;
}



input[type="submit"]{
    padding: 8px;
    margin-top: 20px;
    border: .9px;
    border-radius: 4px;
    background:#2196f3;
    cursor: pointer;
    border-radius: 10px; 
    color: white;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

input[type="submit"]:hover{
    opacity: 0.8;
    
}
::placeholder{
    color:black;
    font-size: 12px;
    opacity: .9;
    font-family: 'Quicksand', sans-serif;
}

.page-footer{
    margin-top:80px;
}

i{
    margin: 12px;
    color: white !important;
    cursor: pointer;
}


/*Registration*/

#overlay{
    background: rgba(0,0,0,0.9);
    height: 100%;
    width:100%;
    top:0;
    left:0;
    position: absolute;
}

#reg{
    opacity:0.7;
    font-size: 30px;
}

#regs{
    background: #fff;
    padding: 25px 30px 30px;
    max-width: 400px;
    margin: 90px auto 0;
    box-shadow: 0 0 3em #222;
    border-radius: 3px;
    font-family: 'Khula', sans-serif;
}

p{
    margin: 0 0 12px 0;
    position: relative;
}

label{
    display: block;
    font-size: 18px;
    margin: 0 0 .5em;
    color: #333;
    font-family: 'Quicksand', sans-serif;
}

input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

input[type="text"],
input[type="password"]{
    background: #f1f1f1;
    border:1px solid #e5e5e5;
    font-size: 18px;
    padding: 5px;
    border-radius: 0.1px;
}

input[type="text"] focus,
input[type="password"] focus{
    border-bottom: .7px solid #0600ff;
}

#submit, input[type="submit"]{
    padding: 8px;
    border: .9px;
    border-radius: 0.1px;
    background:#2196f3;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}
::placeholder{
    color:black;
    font-size: 12px;
    opacity: .9;
    font-family: 'Quicksand', sans-serif;
}


#second{
    color: red;
}

.page-footer{
    background-color:#323232 !important;
}


/*Media Quaries*/


@media screen and (max-width: 700px){
    #login{
        height: 300px;
        width: 50%;
    }
    .sign{
        font-size: 27px;
        margin: 1px;
    }
}

@media screen and (max-width:350px){

    #login{
        height: 180px;
    }


}

@media screen and (max-width: 450px){
    #login{
        height: 300px;
        width: 50%;
    }

    .sign{
        font-size: 27px;
        margin: 1px;
    }
}