#profile{
    width: 60% !important;
    margin-left: 19%;
}

.navbar-fixed{
    background: #0088a3;
    position: fixed;
}

.brand-logo{
    color: #000000 !important;
    font-family: 'Khula', sans-serif !important;
    font-weight: bold;
}

#logout{
    background: #62ebff !important;
    color: #000000 !important;
    position: initial !important;
}

.brand-logo{
    color: #000000 !important;
    font-family: 'Khula', sans-serif !important;
    font-weight: bold;
}